body,h1,h2,h3,h4,h5,h6,ol,ul,dl,dd,p,input,select,textarea,td{
	margin:0;
	padding:0;
}
html{
		font-size: 26.67vw;
}
html,body{
	height:100%;
}
body{
	font-family:"微软雅黑";
	display: -webkit-flex;
	-webkit-flex-direction: column;
	}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
img{
	border:none;
	display: block;
}
/*header*/
header{
	width: 100%;
	height: .35rem;
	/*background: pink;*/
	display:-webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: flex-end;
}
header a{
	display: block;
	width:3.26rem;
	height: .26rem;
	border-radius: .13rem;
	display:-webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	border:1px solid #f0f0f0;
	background: #f5f5f5;
}
header a img{
	width:.14rem;
	height:.12rem;
}
header a span{
	font-size:12px;
	color:#676767;
	display: block;
	padding-left: .12rem;
}
/*nav*/
nav{
	display: -webkit-flex;
	-webkit-align-items: center;
	/*-webkit-flex:1;*/
	overflow-x: auto;
	height:.5rem;
}
nav a{
	font-size: .16rem;
	color:#666666;
	display: block;
	-webkit-flex-shrink:0;
	margin-left:.23rem;
	height: .3rem;
}
nav a:nth-child(2){
	background: url(../img/line.png) no-repeat bottom;
	background-size:  .14rem .04rem ;
	color: black;
	font-weight: 600;
} 
/*section*/
section{
	-webkit-flex:1;
	overflow-x: hidden;
	overflow-y: auto;
}
.time{
	width:100%;
	height: 2.61rem;
	position: relative;
}
.time .img01{
	width:100%;
	height: 2.2rem;
}
.time .img02{
	width:.37rem;
	height: .37rem;
	border-radius: 50%;
	position: absolute;
    left: 0.08rem;
    top: 2.69rem;
}
.time .img06{
	width:.37rem;
	height: .37rem;
	border-radius: 50%;
	position: absolute;
    left: 0.08rem;
    top: 5.29rem;
}
.tit{
	width: 100%;
	height: .5rem;
	display: -webkit-flex;
	-webkit-align-items: center;
}
.tit span{
	display: block;
	font-size:12px;
	color:#666666;
}
.tit .sg{
	color:black ;
	padding-left: .1rem;
	padding-right: .13rem;
}
.tit .gz{
	color:#2692ff;
	margin-right: 1rem;
	width: .45rem;
}
.tit img:nth-child(7){
	width: .08rem;
	height:.13rem; 
}
.tit img:nth-child(3){
	width: .2rem;
	height: .23rem;
}
.tit img:nth-child(5){
	width: .2rem;
	height: .23rem;
}
.tit span:nth-child(4){
	padding-left:.075rem;
	padding-right: .21rem;
}
.tit span:nth-child(6){
	padding-left:.075rem;
	padding-right: .21rem;
}
/*footer*/
footer{
	width: 100%;
	height: .5rem;
	display: -webkit-flex;
	border-top:1px solid #b2b2b2;
	-webkit-align-items: center;
}
footer a{
	-webkit-flex:1;
	text-align: center;
}
footer a img{
	width: .25rem;
	height: .2rem;
	margin:0 auto;
}
footer a span{
	display: block;
	font-size: 10px;
	color: #666666;
}
